<div id="<%= dom_id emp %>">
  <p>
    <strong>Employer:</strong>
    <%= emp.employer %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= emp.date_start %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= emp.date_end %>
  </p>

</div>
